@import '../../scss/variables';
@import '../../scss/mixins';

.shopping-cart {
    background-color: $colour--grey-1;
    color: $colour--white;
    position: fixed;
    width: 100vw;
    z-index: 1;

    transition-property: top;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;

    &__title {
        color: $colour--primary;
    }

    &__glass {
        background-color: $overlay-background;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: -100vh;
        z-index: 0;
        opacity: 0;
        pointer-events: none;
        transition-property: opacity;
        transition-duration: 0.4s;

         &--is-expanded {
             opacity: 1;
             pointer-events: all;
         }
    }

    &__header {
        height: ($spacing--x2 * 3);
        border-top: $spacing--x1 solid $colour--primary;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        cursor: default;
    }

    &__inner {
        margin: $spacing--x05 $spacing--x2;
        height: 50vh;
    }

    &__scroll-area {
        overflow-y: scroll;
        height: calc(50vh - #{$spacing--x1 * 3});
    }

    &__empty-msg {
        text-align: center;
    }

    .shopping-cart-item {
        background-color: $colour--grey-2;
        color: $colour--white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: $border-radius;
        padding: $spacing--x05;
        margin-bottom: $spacing--x05;

        @include productImage(50px);
        &__image-wrapper {
            width: 15%;
            margin: 0;
        }

        &__text {
            width: 100%;

            &--label,
            &--price {
                margin: 0 $spacing--x1;
            }
        }
    }
}
