@import "../../scss/variables";
@import "../../scss/mixins";

.product-detail {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    &__glass {
        background-color: $overlay-background;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    &__inner {
        background-color: $colour--white;
        width: 100%;
        margin: 0 5%;
        border-radius: $border-radius;
        display: flex;
        position: relative;
        justify-content: space-between;
        padding: $spacing--x2;
        flex-wrap: wrap;
    }

    @include productImage(300px);
    &__image-wrapper {
        width: 33%;
        margin-bottom: $spacing--x1;
    }

    &__text {
        width: calc(67% - #{$spacing--x2 * 2});
    }

    &__food-pairings {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: $spacing--x1;
    }
    &__food-item {
        margin: $spacing--x05 / 2;
        background-color: $colour--secondary;
        padding: $spacing--x05;
        border-radius: $border-radius;
    }

    &__close-btn {
        background-color: $colour--alert;
        position: absolute;
        top: -($spacing--x2 * 2.5);
        left: 0;
        color: $colour--white;
    }

    &__cart-btn {
        width: 100%;
    }

}
