@import '../scss/variables';

.toolbar {

    background-color: $colour--grey-1;
    border-bottom: $spacing--x05 solid $colour--grey-4;
    margin-bottom: $spacing--x1;

    &__title {
        color: $colour--grey-1;
        text-shadow: 0px 0px 5px $colour--primary;
        margin: 0;
        margin-left: -6%;
        font-size: 3rem;
    }

    &__inner {
        display: flex;
        padding: $spacing--x1;
        justify-content: space-between;
        align-items: center;
    }

    .toolbar__nav-button,
    .toolbar__sort-button {

        background-color: $colour--primary;
        margin: $spacing--x05;

        &--is-active {
            background-color: $colour--secondary;
        }
    }

    .toolbar__sort-button {
        height: 33%;
    }

    .toolbar__sort-btns {
        display: flex;
        .toolbar--btn-group {
            display: flex;
            flex-direction: column;
        }
    }

    @media screen and (max-width: $breakpoint--small) {

        &__title {
            display: none;
        }

        &__inner {
            flex-direction: column;
        }

        &__sort-btns {
            margin-top: $spacing--x1;
        }

        .toolbar__nav-btns {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
    }
}
