@import '../scss/variables';

.view-switcher {

    position: relative;

    &__inner {
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        transition-property: left;
        transition-duration: 0.8s;
        transition-timing-function: ease-in-out;

        @media screen and (max-width: $breakpoint--small) {
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
        }
    }

}
