@import "variables";

@mixin productImage ($height: 200px, $backgroundColour: $colour--grey-4) {

    &__image-wrapper {
            height: $height;
            display: flex;
            justify-content: center;
            padding: $spacing--x1;
            background-color: $backgroundColour;
            border-radius: ($border-radius / 1.5);
            margin: $spacing--x05;
        }

        &__image {
            width: auto;
            height: 100%;
        }
}
