@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

body {
  font-family: 'Barlow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-color: $colour--grey-2;
  overflow-x: hidden;

  &.scroll-lock {
   overflow-y: hidden;
  }
}

.viewport {
  height: 100vh;
  position: relative;
}

.f__button {
  height: ($spacing--x2 * 2);
  border-radius: $border-radius;
  border: 0;
  min-width: 80px;
  font-size: 0.8rem;
  font-weight: bold;
  transition-property: all;
  transition-duration: 0.4s;

  &--primary {
    background-color: $colour--primary;
    color: $colour--white;
  }
  &--secondary {
    background-color: $colour--secondary;
  }
}
