@import "../../scss/variables";
@import "../../scss/mixins";


.product-list {

    width: 100%;
    margin-bottom: ($spacing--x2 * 4);

    &__spinner {
        width: 100vw;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-list__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product-item {
        background-color: $colour--grey-4;
        margin: $spacing--x1;
        max-width: 200px;
        width: calc(50% - #{$spacing--x2});
        border-radius: ($border-radius * 1.5);
        cursor: default;

        @include productImage(200px, $colour--grey-3);

        &__text {
            text-align: center;
            padding: $spacing--x1;

            > p {
                margin: 0;
            }
        }
    }

}
